[submodule "gears/engine/vendor/glfw"]
	path = gears/engine/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "gears/engine/vendor/tinyobjloader"]
	path = gears/engine/vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "gears/engine/vendor/glm"]
	path = gears/engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "gears/editor/vendor/imgui"]
	path = gears/editor/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "gears/vendor/glfw"]
	path = gears/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "gears/vendor/tinyobjloader"]
	path = gears/vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "gears/vendor/glm"]
	path = gears/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "gears/vendor/imgui"]
	path = gears/vendor/imgui
	url = https://github.com/ocornut/imgui
